In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re as re

# Defining url to make webscrapping 
url = 'https://www.imdb.com/chart/top'

# Create a http request from url set  
resp = requests.get(url)

# Create object BeautifulSoup
soup = BeautifulSoup(resp.text, 'html.parser')

# Here we will extract name and year from list
texts_part1 = soup.find(class_='lister-list').find_all(class_='titleColumn')
data1=[]
for x in texts_part1:data1.append(x.text)
    

# Here we will extract score from list
texts_part2 = soup.find(class_='lister-list').find_all(class_='ratingColumn imdbRating')
data2=[]
for x in texts_part2:data2.append(x.text)

In [16]:
# Create lists to append our values
year,name_movie,score=[],[],[]

# Append values for lists
for x in range(len(data1)):
    name_movie.append (list(str(data1[x]).split("\n"))[2])
    year.append       (list(str(data1[x]).split("\n"))[3])
    score.append      (list(str(data2[x]).split("\n"))[1])

# Remove whitespace in the string
for x in range(len(name_movie)): name_movie[x] = name_movie[x].strip()

# Remove parentheses of each year
for x in range(len(year)): year[x] = re.sub('[()]','', year[x])

# Create dataframe wit our values
imdb_dataset = pd.DataFrame( list(zip(range(1,250),name_movie, year,score)) , 
                            columns=['rank','movie','year','score'] )
imdb_dataset.head()

   rank                           movie  year score
0     1           Um Sonho de Liberdade  1994   9.2
1     2               O Poderoso Chefão  1972   9.2
2     3            O Poderoso Chefão II  1974   9.0
3     4  Batman: O Cavaleiro das Trevas  2008   9.0
4     5        12 Homens e uma Sentença  1957   8.9

In [11]:
# Export to csv
imdb_dataset.to_excel("imdb.xlsx", index=False, sheet_name='app')